@font-face {
  font-family: Urbanist;
  font-weight: 100 900;
  font-style: normal;
  src:
    url("./Urbanist-VariableFont_wght.woff2") format("woff2"),
    url("./Urbanist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Urbanist;
  font-weight: 100 900;
  font-style: italic;
  src:
    url("./Urbanist-Italic-VariableFont_wght.woff2") format("woff2"),
    url("./Urbanist-Italic-VariableFont_wght.ttf") format("truetype");
}
